.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: black;
}

.count-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}